.classement {
  table {
    @media screen and (max-width: 1023px) {
      font-size: 1rem;
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.1rem;

      .hide {
        display: none;
      }
    }

    thead {
      background-color: $color-1;
      color: $color-3;
      font-size: 1.1rem;
      text-shadow: 0px 0px 2px $color-2;

      th {
        padding: 15px;
        border-collapse: collapse;

        &:nth-child(2) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-left: 65px;
        }

        @media screen and (max-width: 1023px) {
          padding: 5px;
        }

        @media screen and (max-width: 767px) {
          padding: 0px;
        }
      }
    }

    tbody {
      tr:first-child td:nth-child(1),
      tr:nth-child(2) td:nth-child(1) {
        border-left: 10px solid $color-6;
      }

      tr:nth-child(3) td:nth-child(1) {
        border-left: 10px solid $color-7;
      }

      tr:nth-child(4) td:nth-child(1) {
        border-left: 10px solid $color-11;
      }

      tr:nth-child(5) td:nth-child(1) {
        border-left: 10px solid $color-12;
      }

      tr:nth-child(6) td:nth-child(1),
      tr:nth-child(7) td:nth-child(1),
      tr:nth-child(8) td:nth-child(1),
      tr:nth-child(9) td:nth-child(1),
      tr:nth-child(10) td:nth-child(1),
      tr:nth-child(11) td:nth-child(1),
      tr:nth-child(12) td:nth-child(1),
      tr:nth-child(13) td:nth-child(1),
      tr:nth-child(14) td:nth-child(1),
      tr:nth-child(15) td:nth-child(1),
      tr:nth-child(16) td:nth-child(1) {
        border-left: 10px solid $color-3;
      }

      tr:nth-child(17) td:nth-child(1),
      tr:nth-child(18) td:nth-child(1),
      tr:nth-child(19) td:nth-child(1) {
        border-left: 10px solid $color-8;
      }

      tr:last-child td:nth-child(1) {
        border-left: 10px solid $color-8;
      }

      tr:last-child td {
        border-bottom: none;
      }

      td {
        border-bottom: 1px solid $color-1;
        padding: 15px;
        -webkit-tap-highlight-color: transparent;

        &:nth-child(1),
        &:nth-child(10) {
          border: none;
        }

        &:nth-child(2) {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          a {
            display: flex;
            align-items: center;
          }
        }

        img {
          width: auto;
          height: 50px;
          margin-right: 20px;
        }
      }
    }

    .classementeuro tr:nth-child(3) td:nth-child(1) {
      border-left: 10px solid $color-11;
    }
  }
}
