.classement {
  table {
    @media screen and (max-width: 1023px) {
      font-size: 1em;
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.1em;

      .hide {
        display: none;
      }
    }

    thead {
      background-color: $color-1;
      color: $color-3;
      font-size: 1.1em;
      text-shadow: 0px 0px 2px $color-2;

      th {
        padding: 15px;
        border-collapse: collapse;

        &:nth-child(2) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-left: 65px;
        }

        @media screen and (max-width: 1023px) {
          padding: 5px;
        }

        @media screen and (max-width: 767px) {
          padding: 0px;
        }
      }
    }

    tbody {
      tr:nth-child(1) td:nth-child(1) {
        border-left: 10px solid $color-6;
      }

      tr:nth-child(2) td:nth-child(1),
      tr:nth-child(3) td:nth-child(1),
      tr:nth-child(4) td:nth-child(1),
      tr:nth-child(5) td:nth-child(1) {
        border-left: 10px solid $color-7;
      }

      tr:nth-child(17) td:nth-child(1),
      tr:nth-child(18) td:nth-child(1),
      tr:nth-child(19) td:nth-child(1),
      tr:nth-child(20) td:nth-child(1) {
        border-left: 10px solid $color-8;
      }

      td {
        border-bottom: 1px solid $color-2;
        padding: 15px;

        &:nth-child(1),
        &:nth-child(10) {
          border: none;
        }

        &:nth-child(2) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        img {
          width: auto;
          height: 50px;
          margin-right: 20px;
        }
      }
    }
  }
}
