.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: $color-1;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    height: 100px;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 15px;
    bottom: 4px;

    @media screen and (max-width: 767px) {
      margin-right: 0px;
    }
  }

  p,
  ul {
    font-size: 1.7rem;
    text-shadow: 0px 0px 3px $color-2;
  }

  p {
    display: flex;
    color: $color-3;
    margin-left: 25px;

    i {
      margin-right: 0px;
    }

    @media screen and (max-width: 767px) {
      justify-content: center;
      font-size: 1.8rem;
      margin-left: 0px;
    }
  }

  ul {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @media screen and (max-width: 767px) {
      background-color: $color-1;
      position: fixed;
      bottom: 0;
      z-index: 10;
      margin: 0;
      padding: 0;
      justify-content: space-around;
      width: 100%;
      font-size: 1.2rem;
    }

    li {
      display: flex;
      color: $color-3;
      margin: 15px;

      span {
        height: 80px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
          height: initial;
        }
      }

      @media screen and (max-width: 767px) {
        align-items: center;
      }

      &:hover {
        text-shadow: 0px 0px 10px $color-5;

        #navactive1,
        #navactive2 {
          display: flex;

          @media screen and (max-width: 767px) {
            flex-direction: column;
          }
        }
      }

      .navactive {
        font-size: 1.3rem;
        color: $color-3;
        background-color: $color-1;
        padding: 0px;
        position: absolute;
        top: 80px;
        right: 20px;
        display: none;
        z-index: 10;
        border-left: 1px solid $color-2;

        li {
          border-bottom: 1px solid $color-2;
          margin: 0;
          padding: 20px;

          &:hover {
            background-color: $color-9;
          }
        }

        @media screen and (max-width: 767px) {
          top: initial;
          bottom: 80px;
          font-size: 1.1rem;
          border-radius: 15px 15px 0px 0px;
          border-top: 1px solid $color-2;
        }
      }

      #navactive1,
      #navactive2 {
        right: 0px;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }
  }
}
