.prochainmatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: $color-3;
  background-color: $color-1;
  text-shadow: 0px 0px 3px $color-2;
  border-radius: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  i {
    margin-right: 15px;
  }

  @media screen and (max-width: 767px) {
    font-size: 1.1rem;
    width: 95%;
    height: 300px;
  }

  .chaine {
    margin-top: 0px;
    display: flex;
    align-items: baseline;
  }

  .matchdate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-top: -20px;
  }

  .matchcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    font-size: 1.3rem;

    @media screen and (max-width: 767px) {
      width: 100%;
      justify-content: space-around;
    }
  }
}
