.prochainmatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid $color-1;
  border-bottom: 5px solid $color-1;
  font-size: 1.3em;
  color: $color-5;

  .matchdate {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }

  .matchcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    font-size: 1.2em;
  }
}
