@font-face {
  font-family: font-1;
  src: url(../styles/fonts/Alkatra-VariableFont_wght.ttf);
}

$color-1: #2faee0;
$color-2: #202020;
$color-3: #f4f1eb;
$color-4: #f2f2f2;
$color-5: #404040;
$color-6: #4432ea;
$color-7: #7f7fe6;
$color-8: red;
$color-9: #1b94c4;
$color-10: #0000006e;
$color-11: #f76403;
$color-12: #00b814;

:root {
  --primary: #000000;
  --secondary: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "font-1", sans-serif;
  background-color: $color-3;
}

body li {
  list-style: none;
}

body a {
  color: $color-2;
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: center;
  color: $color-2;

  @media screen and (max-width: 767px) {
    margin: 15px 0px;
    font-size: 1.7rem;
  }
}

.tableau {
  display: flex;
  justify-content: center;

  table {
    text-align: center;
    border-spacing: 0em;
    border: 1px solid $color-1;
    font-size: 1.2rem;
    width: 95%;

    @media screen and (max-width: 767px) {
      border: none;
    }
  }
}

.textbold {
  font-weight: bolder;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 4rem;
    color: $color-1;
    margin-top: 110px;
  }
}

.pages {
  margin-bottom: 80px;
}
