@font-face {
  font-family: font-1;
  src: url(../styles/fonts/Alkatra-VariableFont_wght.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: "font-1", sans-serif;
  background-color: #f2f2f2;
}

body li {
  list-style: none;
}

body a {
  color: rgb(32, 32, 32);
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(32, 32, 32);
}
@media screen and (max-width: 767px) {
  .title {
    margin: 15px 0px;
    font-size: 1.7em;
  }
}

.tableau {
  display: flex;
  justify-content: center;
}
.tableau table {
  text-align: center;
  border-spacing: 0em;
  border: 1px solid #2faee0;
  font-size: 1.2em;
  width: 95%;
}
@media screen and (max-width: 767px) {
  .tableau table {
    border: none;
  }
}

.textbold {
  font-weight: bolder;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader i {
  font-size: 4em;
  color: #2faee0;
  margin-top: 110px;
}

.pages {
  margin-bottom: 80px;
}

@media screen and (max-width: 1023px) {
  .classement table {
    font-size: 1em;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .classement table {
    font-size: 1.1em;
  }
  .classement table .hide {
    display: none;
  }
}
.classement table thead {
  background-color: #2faee0;
  color: #f4f1eb;
  font-size: 1.1em;
  text-shadow: 0px 0px 2px rgb(32, 32, 32);
}
.classement table thead th {
  padding: 15px;
  border-collapse: collapse;
}
.classement table thead th:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 65px;
}
@media screen and (max-width: 1023px) {
  .classement table thead th {
    padding: 5px;
  }
}
@media screen and (max-width: 767px) {
  .classement table thead th {
    padding: 0px;
  }
}
.classement table tbody tr:first-child td:nth-child(1) {
  border-left: 10px solid rgb(68, 50, 234);
}
.classement table tbody .classement:nth-child(2) td:nth-child(1),
.classement table tbody .classement:nth-child(3) td:nth-child(1),
.classement table tbody .classement:nth-child(4) td:nth-child(1),
.classement table tbody .classement:nth-child(5) td:nth-child(1) {
  border-left: 10px solid rgb(127, 127, 230);
}
.classement table tbody .classement:nth-child(17) td:nth-child(1),
.classement table tbody .classement:nth-child(18) td:nth-child(1),
.classement table tbody .classement:nth-child(19) td:nth-child(1),
.classement table tbody .classement:nth-child(20) td:nth-child(1) {
  border-left: 10px solid red;
}
.classement table tbody tr:last-child td {
  border-bottom: none;
}
.classement table tbody .classementeuro:nth-child(2) td:nth-child(1) {
  border-left: 10px solid rgb(68, 50, 234);
}
.classement table tbody .classementeuro:nth-child(3) td:nth-child(1) {
  border-left: 10px solid rgb(127, 127, 230);
}
.classement table tbody .classementeuro:nth-child(4) td:nth-child(1) {
  border-left: 10px solid red;
}
.classement table tbody td {
  border-bottom: 1px solid #2faee0;
  padding: 15px;
}
.classement table tbody td:nth-child(1), .classement table tbody td:nth-child(10) {
  border: none;
}
.classement table tbody td:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.classement table tbody td img {
  width: auto;
  height: 50px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .calendrier {
    font-size: 1em;
  }
}
.calendrier table {
  background-color: #2faee0;
  padding: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .calendrier table {
    padding: 0px;
    border: none;
    width: 100%;
    font-size: 1.1em;
  }
}
.calendrier table tr:nth-child(even) {
  background-color: #2faee0;
  color: #f4f1eb;
  text-shadow: 0px 0px 2px rgb(32, 32, 32);
}
.calendrier table tr:nth-child(odd) {
  background-color: #f4f1eb;
}
.calendrier table td {
  padding: 25px;
}
@media screen and (max-width: 767px) {
  .calendrier table td {
    padding: 45px 5px 0px 5px;
    height: 120px;
  }
}
.calendrier table tr {
  position: relative;
}
@media screen and (max-width: 767px) {
  .calendrier table .date {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #2faee0;
}
@media screen and (max-width: 767px) {
  .navigation {
    flex-direction: column;
    height: 100px;
  }
}
.navigation i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 15px;
  bottom: 4px;
}
@media screen and (max-width: 767px) {
  .navigation i {
    margin-right: 0px;
  }
}
.navigation p,
.navigation ul {
  font-size: 1.7em;
  text-shadow: 0px 0px 3px rgb(32, 32, 32);
}
.navigation p {
  display: flex;
  color: #f4f1eb;
  margin-left: 25px;
}
.navigation p i {
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .navigation p {
    justify-content: center;
    font-size: 1.8em;
    margin-left: 0px;
  }
}
.navigation ul {
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 767px) {
  .navigation ul {
    background-color: #2faee0;
    position: fixed;
    bottom: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 100%;
    font-size: 1.2em;
  }
}
.navigation ul li {
  display: flex;
  color: #f4f1eb;
  margin: 15px;
}
.navigation ul li span {
  height: 80px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navigation ul li span {
    height: initial;
  }
}
@media screen and (max-width: 767px) {
  .navigation ul li {
    align-items: center;
  }
}
.navigation ul li:hover {
  text-shadow: 0px 0px 10px #404040;
}
.navigation ul li:hover #navactive1,
.navigation ul li:hover #navactive2 {
  display: flex;
}
@media screen and (max-width: 767px) {
  .navigation ul li:hover #navactive1,
  .navigation ul li:hover #navactive2 {
    flex-direction: column;
  }
}
.navigation ul li .navactive {
  font-size: 0.8em;
  color: #f4f1eb;
  background-color: #2faee0;
  padding: 0px;
  position: absolute;
  top: 80px;
  right: 20px;
  display: none;
  z-index: 10;
  border-left: 1px solid rgb(32, 32, 32);
}
.navigation ul li .navactive li {
  border-bottom: 1px solid rgb(32, 32, 32);
  margin: 0;
  padding: 20px;
}
.navigation ul li .navactive li:hover {
  background-color: #1b94c4;
}
@media screen and (max-width: 767px) {
  .navigation ul li .navactive {
    top: initial;
    bottom: 80px;
    font-size: 1.1em;
    border-radius: 15px 15px 0px 0px;
    border-top: 1px solid rgb(32, 32, 32);
  }
}
.navigation ul li #navactive1,
.navigation ul li #navactive2 {
  right: 0px;
}
@media screen and (max-width: 767px) {
  .navigation ul li {
    flex-direction: column;
  }
}

.prochainmatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  color: #f4f1eb;
  background-color: #2faee0;
  text-shadow: 0px 0px 3px rgb(32, 32, 32);
  border-radius: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .prochainmatch {
    font-size: 1.1em;
    border-top: none;
    border-bottom: none;
    width: 95%;
    height: 300px;
  }
}
.prochainmatch .matchdate {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
.prochainmatch .matchcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  font-size: 1.2em;
}
@media screen and (max-width: 767px) {
  .prochainmatch .matchcontent {
    width: 100%;
    justify-content: space-around;
  }
}/*# sourceMappingURL=index.css.map */